/* StuQuiz.css */

.quiz-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.question-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.option-label {
  font-size: 18px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.prev-button {
  background-color: #43ab46;
  color: white;
}

.next-button {
  background-color: #024058;
  color: white;
}

.submit-button {
  background-color: #ff5733;
  color: white;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.score-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.feedback-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.restart-button {
  background-color: #ff5733;
  color: white;
}
.selected {
  color: blue;
}
